.homepage-container {
    padding: 10px;
    color: rgb(251, 251, 251);
    min-height: 100vh;
}
.box {
    background-color: #0a0909;
    padding: 5px;
    border-radius: 10px;
    margin-top: -10px;
    border: 1px solid #efefef;

    position: fixed;
    right: 20px;
    bottom: 20px;

    display: flex;
    flex-direction: row; /*  stack items vertically */
    gap: 10px; /*  spacing between items */
}
    